<html>
  <header>
    <link href="style.css" rel="stylesheet" type="text/css">
    <h1>
      <a href="/">Home</a>
      <a href="/addbook">Add Book</a>
      <a href="/addauthor">Add Author</a>
      <a href="/getbooks">View All Books</a>
      <a href="/getauthors">View All Authors</a>
      <a href="/updateauthor">Update Author</a>
      <a href="/deletebook">Delete Book</a>
      <h1>Welcome to the Meme library App</h1>
    </h1>
  </header>
<body>
    <img src="homepagelogo.jpg" width="310" height="200" />
</body>

</html>
