<html>
<header>
  <link href="style.css" rel="stylesheet" type="text/css">
  <h1>
    <a href="/">Home</a>
    <a href="/addbook">Add Book</a>
    <a href="/addauthor">Add Author</a>
    <a href="/getbooks">View All Books</a>
    <a href="/getauthors">View All Authors</a>
    <a href="/updateauthor">Update Author</a>
    <a href="/deletebook">Delete Book</a>
  </h1>
</header>
<body>
  <h1>Update an existing Author</h1>
  <img src="change.jpg" width="310" height="206" />
  <div class="container">
    <form id ="updateBookForm" class="updateBookForm" action="/updateauthor" method="POST">
      Author ID <select name="authorid" />
      <% for(let i=0;i<authors.length;i++){ %>
      <option value= "<%= authors[i]._id %>"><%=authors[i]._id %></option>
      <%} %></select><br />
      Number of Books <input type="text" name="numbooks" /><br />

      <button class="submitbtn">Submit</button>
    </form>
  </div>
</body>

</html>
